[submodule "um-material-ui"]
	path = um-material-ui
	url = https://github.com/umbiliko/um-material-ui.git
[submodule "um-react-app"]
	path = um-react-app
	url = https://github.com/umbiliko/um-react-app.git
[submodule "um-react-core"]
	path = um-react-core
	url = https://github.com/umbiliko/um-react-core.git
[submodule "um-react-logo"]
	path = um-react-logo
	url = https://github.com/umbiliko/um-react-logo.git
[submodule "um-react-shell"]
	path = um-react-shell
	url = https://github.com/umbiliko/um-react-shell.git
[submodule "um-react-view"]
	path = um-react-view
	url = https://github.com/umbiliko/um-react-view.git
[submodule "um-react-vis"]
	path = um-react-vis
	url = https://github.com/umbiliko/um-react-vis.git
